@import 'variaveis.scss';


.pagamento{
    min-height: 50vh;
}

.pagamento__container{
    margin-top: 6vh;
    padding: 10px;
    font-weight: 400;
}

.pagamento__item{
    color: $preto-light;
}

.pagamento__titulo{
    font-size: 30px;
    margin: 0;
}


.pagamento__section{
    margin: 0 30vw 0 30vw;
    text-align: left;
}

.pagamento__section form input{
    width: 100%;
    background-color: $branco;
    color: black;
    border: 1px solid $preto-light;
}


.pagamento__detalhes > form{
    max-width: 100%;
}

@media screen and (max-width: 930px){


    .pagamento__section{
        margin: 0;
    }


}
